<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBS_CPaYDK-_cYohzFCl8gAjohJNZAlY2A</string>
	<key>GCM_SENDER_ID</key>
	<string>986892761161</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jb.cakemaker.game</string>
	<key>PROJECT_ID</key>
	<string>cake-maker--ios</string>
	<key>STORAGE_BUCKET</key>
	<string>cake-maker--ios.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:986892761161:ios:f4ef084d44145743efa798</string>
</dict>
</plist>